<div class="logo fixed-top">
  <p class="text-center"><img style="width: 173px; height: 123px;" src="assets/LOGO.png" alt=""></p>
</div>
<div id="metas" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#metas" data-slide-to="0" class="active"></li>
    <li data-target="#metas" data-slide-to="1"></li>
    <li data-target="#metas" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/1.jpg" alt="" class="img-header w-100 d-block">
    </div>
    <div class="carousel-item">
      <img src="assets/2.jpg" alt="" class="img-header w-100 d-block">
    </div>
    <div class="carousel-item">
      <img src="assets/4.jpg" alt="" class="img-header w-100 d-block">
    </div>
  </div>
  <a class="carousel-control-prev" href="#metas" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#metas" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<p class="fecha" style="font-weight: bold;">{{getFecha()}}</p>
<p class="metas text-center" style="font-weight: bold;">METAS</p>
<p class="mensaje text-center" style="font-weight: bold;">Y TÚ, ¿YA LO HAS LOGRADO?</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <p class="mt-5 text-center" style="color: #0f1d4a; font-size: 3rem; font-weight: bold;">¿Te hace falta resolver algunos
        puntos?</p>
    </div>
    <div class="col-lg" style="background-color: #0f1d4a; color: white; font-size: 1rem; font-weight: bold;">
      <p class="text-center" style="font-weight: bold; font-size: 2.5rem;">¡Escríbelo y actua!</p>
      <p class="text-center"><input style="font-size: 1.5rem; border-radius: 10px;" class="w-75" type="text"></p>
      <p class="text-center"><a style="color: white; font-size: 1.5rem;" class="nav-link" href="#">ENVIAR</a></p>
      <p class="text-center" style="font-size: 1.5rem;">Nosotros te ayudamos a hacerlo realidad</p>
    </div>
  </div>
</div>
<div class="frase">
  <img src="assets/frase.png" class="w-100" alt="">
  <p id="l1" class="text-center" style="font-weight: bold; font-size: 2rem;">Todo parte de una idea.</p>
  <p id="l2" class="text-center" style="font-weight: bold; font-size: 4rem;">¡Hazla realidad!</p>
</div>
<div class="concentrate">
  <p class="text-center pt-5" style="font-weight: bold; font-size: 2.5rem;">Concéntrate en tu meta.</p>
  <p class="text-center" style="font-weight: bold; font-size: 2.5rem;">¡Nosotros te respaldamos ante imprevistos!</p>
  <p class="text-center pb-5" style="font-size: 1.5rem;">La protección, ahorro y garantía, son la base de todo proyecto.
  </p>
  <p style="margin: 0; font-size: 1.1rem; font-style: italic;" class="text-center">Tenemos alianzas con aseguradoras
    para cubrir</p>
</div>
<div class="container-fluid">
  <div class="row">
    <div style="padding: 0;" class="col-lg d-inline-block">
      <img class="w-100" src="assets/servicio-1.png" alt="">
    </div>
    <div style="padding: 0;" class="col-lg d-inline-block">
      <img class="w-100" src="assets/servicio-2.png" alt="">
    </div>
    <div style="padding: 0;" class="col-lg d-inline-block">
      <img class="w-100" src="assets/servicio-3.png" alt="">
    </div>
    <div style="padding: 0;" class="col-lg d-inline-block">
      <img class="w-100" src="assets/servicio-4.png" alt="">
    </div>
  </div>
</div>
<div class="container-fluid pt-5 pb-5">
  <div class="row">
    <div class="col">
      <p style="color: #1f3d9e; font-weight: bold; font-size: 2.5rem;">¿Buscas información?</p>
      <p style="color: #1f3d9e; font-weight: bold; font-size: 2rem;">Recíbela por correo</p>
      <form >
        <mat-form-field class="w-50 pr-3">
          <input type="text" matInput placeholder="Nombre y apellido">
        </mat-form-field>
        <mat-form-field style="width: 40%;">
          <input type="email" matInput placeholder="Correo">
        </mat-form-field>
        <mat-form-field class="w-100">
          <input type="text" matInput placeholder="Teléfono">
        </mat-form-field>
        <mat-form-field class="w-100">
          <textarea placeholder="Escriba un mensaje" matInput rows="10"></textarea>
        </mat-form-field>
        <p class="text-center">
          <button type="submit" mat-raised-button>Enviar</button>
        </p>
      </form>
    </div>
    <div class="col" style="background-color: #0f1d4a; color: white;">
      <p class="ml-5 mt-5" style="font-size: 1.5rem;"><img style="width: 50px; height: 50px;" src="assets/contacto/1.png" alt="">San Pedro García García, Nuevo León</p>
      <p class="ml-5" style="font-size: 1.5rem;"><img style="width: 50px; height: 50px;" src="assets/contacto/2.png" alt="">&nbsp;&nbsp;&nbsp;+52 1 81 1170 4359</p>
      <p class="ml-5" style="font-size: 1.5rem;"><img style="width: 50px; height: 50px;" src="assets/contacto/3.png" alt="">&nbsp;&nbsp;&nbsp;+52 1 81 1170 4359</p>
      <p class="ml-5" style="font-size: 1.5rem;"><img style="width: 50px; height: 50px;" src="assets/contacto/4.png" alt="">&nbsp;&nbsp;&nbsp;javier@salzer.com.mx</p>
      <p class="text-center pt-5" style="font-size: 1.5rem;"><img src="assets/LOGO.png" alt=""></p>
    </div>
  </div>
</div>